<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>登录_飞扬用户中心</title>

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css" />

    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
<div class="header">
    <div class="am-g">
        <h1> FYUC - 验证手机</h1>

    </div>
    <hr />
</div>
<div class="container">
    <div class="col-sm-centered">
        <hr>
        <form method="post" class="am-form" action="/access/bindTel">
            <input type="hidden" name="appid" value="{{appid}}" />

            <input type="text" name="tel"  value="" placeholder="手机号">
            <hr>
            <div class="am-input-group">
                <input type="text" name="code" class="am-form-field" placeholder="短信验证码" autocomplete="off">
				      <span class="am-input-group-btn">
				        <button id="send_btn" class="am-btn am-btn-secondary" type="button">获取</button>
				      </span>
            </div>
            <p class="am-text-center">只要验证一次就好了，亲。</p>
            <hr>
            <div class="am-cf">
                <input id="bind_confirm" type="submit" name="submit" value="立即绑定" class="am-btn am-btn-block am-btn-primary am-btn-sm am-fl am-padding-horizontal-xl">

            </div>
        </form>
        <hr>
        <hr>
        <hr>
        <p>
            © 2014 FYSCU , Fcoder 2.0 XJBG license.
        </p>
    </div>
</div>

<script type="text/javascript" src="http://s.amazeui.org/assets/2.x/js/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
</body>
</html>
