<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>飞扬用户中心</title>

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.2/css/amazeui.min.css" />

    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
<div class="header">
    <div class="am-g">
        <h1> FYUC DOCUMENTS</h1>
    </div>
    <hr />
</div>
<div class="container">
    1.目前处于内部使用阶段，暂时不支持公众申请appId / appKey
    <pre>
        现阶段只支持内部申请，具体请联系 admin@lanhao.name</pre>
    <br>
    2.如果你获得内测资格，你会得到形如这样的信息，请保密
    <pre>
    appId:1000
    appKey:abcdefg
    //多数场合下都需要用到以上一个或两个参数</pre>
    <br>
    3.你可以自己看接口列表实现对接，或者下载UC提供的开发kit
    <br>
    <br>
    php 下载文件，源码底部有使用方法
    <pre>https://github.com/captainblue2013/fyscu_uc_v3/tree/master/kit/php/fyuc.class.php
    </pre>
    <br>
    node 是用npm安装 index.js 源码底部有使用方法
    <pre>npm install fyuckit
    </pre>


    4.手贱自己实现接入的方式
    <br>
    <pre>
        既然都自己手贱了，就自己摸索一下吧，没事看看开发kit源码
    </pre>

</div>
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.5.2/js/amazeui.min.js"></script>
</body>
</html>
