<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>登录_飞扬用户中心</title>

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css" />

    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
<div class="header">
    <div class="am-g">
        <h1> FYUC </h1>

    </div>
    <hr />
</div>
<div class="container">
    <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active">
                <a href="#tab1">登录</a>
            </li>
            <li>
                <a href="#tab2">快速注册</a>
            </li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-g am-tab-panel am-active" id="tab1">
                <div class="col-sm-centered">
                    <hr>
                    <form method="post" class="am-form" action="/access/login">
                        <input type="hidden" name="appId" value="{{appId}}" />
                        <input type="text" name="account"  value="" placeholder="用户名/手机号">
                        <hr>
                        <input type="password" name="password"  value="" placeholder="密码">
                        <hr>
                        <div class="am-cf">
                            <input type="submit" name="" value="登  录 " class="am-btn am-btn-primary am-btn-sm am-fl am-padding-horizontal-xl">
                            <a target="_self" href="/findpw?appid={{appId}}" class="am-btn am-btn-default am-btn-sm am-fr">忘记密码 ^_^?</a>
                        </div>
                    </form>
                    <hr>
                    <hr>
                    <hr>
                    <p>
                        {{license}}
                    </p>
                </div>
            </div>

            <div class="am-g am-tab-panel" id="tab2">
                <div class="col-sm-centered">
                    <hr>
                    <form method="post" class="am-form" action="/access/reg">
                        <input type="hidden" name="appId" value="{{appId}}" />
                        <input required="required" type="text" name="account"  value="" placeholder="用户名" autocomplete="off">
                        <hr>
                        <input required="required" type="password" name="password"  value="" placeholder="密码" autocomplete="off">
                        <hr>

                        <div class="am-cf">
                            <input type="submit" name="submit" value="一键注册，连部长都说好" class="am-btn am-btn-block am-btn-primary am-btn-sm am-fl am-padding-horizontal-xl">

                        </div>
                    </form>
                    <hr>
                    <hr>
                    <hr>
                    <p>
                        © 2014 FYSCU , Fcoder 2.0 XJBG license.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://s.amazeui.org/assets/2.x/js/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>
</body>
</html>
